:root {
    --primary-light: #8abdff;
    --primary: #6d5dfc;
    --primary-dark: #5b0eeb;

    --white: #FFFFFF;
    --greyLight-1: #E4EBF5;
    --greyLight-2: #c8d0e7;
    --greyLight-3: #bec8e4;
    --greyDark: #9baacf;
}

body {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    background: var(--greyLight-1);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: var(--greyLight-1);
}

@media screen and (min-width: 900px) {
    html {
        font-size: 75%;
    }
}

/*$shadow: .3rem .3rem .6rem var(--greyLight-2),*/
/*-.2rem -.2rem .5rem var(--white);*/
/*$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2),*/
/*inset -.2rem -.2rem .5rem var(--white);*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    width: 100rem;
    height: 50rem;
    border-radius: 3rem;
    box-shadow:.8rem .8rem 1.4rem var(--greyLight-2),
    -.2rem -.2rem 1.8rem var(--white);
    padding: 2rem;
    display: flex;
    align-items: stretch;
}

.block-left {
    flex: 4;
}

.block-center {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.block-right {
    flex: 4;
}

.textarea {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1.4rem 1.4rem;
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
        inset -.2rem -.2rem .5rem var(--white);
    background: none;
    font-family: inherit;
    color: var(--greyDark);
    resize: none;
}

.textarea::placeholder {
    color: var(--greyLight-3);
}

.textarea:focus {
    outline: none;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
}

/*  BUTTONS  */
.button {
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;
    margin: 10px;
}

.button-primary {
    background: var(--primary);
    box-shadow: inset .2rem .2rem 1rem var(--primary-light),
        inset -.2rem -.2rem 1rem var(--primary-dark),
        .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    color: var(--greyLight-1);
}

.button-primary:hover {
    color: var(--white);
}

.button-primary:active {
    box-shadow:inset .2rem .2rem 1rem var(--primary-dark),
        inset -.2rem -.2rem 1rem var(--primary-light);
}

.button-secondary {
    color: var(--greyDark);
}

.button-secondary:hover {
    color: var(--primary);
}

.button-secondary:active {
    box-shadow: inset .2rem .2rem .5rem var(--greyLight-2),
        inset -.2rem -.2rem .5rem var(--white);
}

.button p {
    font-size: 1.6rem;
}

.popup {
    position: absolute;
    margin: 0 auto;
    top: 10px;
    width: 15rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    box-shadow: inset .2rem .2rem 1rem var(--primary-light),
        inset -.2rem -.2rem 1rem var(--primary-dark),
        .3rem .3rem .6rem var(--greyLight-2),
        -.2rem -.2rem .5rem var(--white);
    color: var(--greyLight-1);
    font-size: 1.6rem;
    opacity: 0;
    transition: all 0.5s ease;
}

.popup-visible {
    opacity: 1;
}
